body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Global styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

header {
    background-color: #ff5733;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    transition: color 0.3s;
}

nav a:hover {
    color: #ff8c66;
}

section {
    margin-bottom: 40px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

/* Header styles */
header h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

/* About Me section styles */
#about p {
    font-size: 20px;
    line-height: 1.6;
}

/* Portfolio section styles */
#portfolio h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.portfolio-item {
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: transform 0.2s ease-in-out;
}

.portfolio-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.portfolio-item img {
    max-width: 100%;
    border-radius: 10px;
}

.portfolio-item h3 {
    font-size: 28px;
    margin-top: 10px;
}

/* Contact Me section styles */
#contact p {
    font-size: 20px;
    margin-top: 10px;
}

/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

/* Social media icons */
.social-icons {
    margin-top: 20px;
}

.social-icons a {
    text-decoration: none;
    margin: 0 10px;
    font-size: 28px;
    color: #ff5733;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #ff8c66;
}
#About{
  color:#6667ab;
}#products{
  color:#6667ab;
}#Contact{
  color:#6667ab;
}#name{
  color:#000000;
}
.container{
  color:#000000;
}
